.container{
  display : flex;
  flex-direction: column;
  justify-content : center;
  align-items: center;
  min-height : 100vh;
  background-color:#1E1E1E;
}

.time-container{
   display: flex;
   align-items: center;
   gap: 3em;
}

.hour-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: 'SF Mono', monospace;
}
.label {
   font-size: 1rem;
   margin: 0;
   color: #888;
}

.value {
   font-size: 6rem;
   margin: 0;
   color: #fff;
}

.minuite-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: 'SF Mono', monospace;
   font-size: 6rem;
}
.seconds-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: 'SF Mono', monospace;
   font-size: 6rem;
}

.buttons-container{
  display: flex;
  flex-direction: row;
  align-items:center;
  gap:2em;
  

}
.cancel-button{
  width:9em;
  height:2.5em;
  border-radius:3em;
  border:0;
  font-family:'SF Mono', monospace;
  background-color : #262626;
}
.start-button{
  width:9em;
  height:2.5em;
  border:0;
  border-radius: 3em;
  font-family:'SF Mono', monospace;
  background-color : #31D158;
}
.pause-button{
    width:9em;
  height:2.5em;
  border:0;
  border-radius: 3em;
  font-family:'SF Mono', monospace;
  background-color : #FF9230;


}
.increase-button{
  padding:0px;
  margin-top:12px;
  height:3em;
  width:3em;
  border-radius:50%;
  font-size:12px;
  border:0
}
.Decrease-button{
  height:3em;
  width:3em;
margin-bottom:12px;
  border-radius:50%;
  font-size:12px;
  border:0
}
.Timer-container{
display : flex;
flex-direction: column;
align-items:center;
justify-content:center;
min-height:100vh;
  background-color:#1E1E1E;
}
.Enclosure{

}
.Timer{
  display:flex;
  gap:3em;
}

.ring-wrapper{
position:relative;
width:30em;
height:30em;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}
.ring-progress{
fill:none;
stroke: #ff9230;
stroke-width: 10;
stroke-linecap: round;
transition: stroke-dashoffset 0.5s linear;

}
.ring{
  position:absolute;
  transform:rotate(-90deg);

}
.ring-bg{
fill:none;
stroke:#2a2a2a;
stroke-width:10;
}







