.container{
  display : flex;
  flex-direction: column;
  justify-content : center;
  align-items: center;
  min-height : 100vh;
  background-color:#1E1E1E;
}

.time-container{
   display: flex;
   align-items: center;
   gap: 3em;
}

.hour-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: 'SF Mono', monospace;
}
.label {
   font-size: 1rem;
   margin: 0;
   color: #888;
}

.value {
   font-size: 6rem;
   margin: 0;
   color: #fff;
}

.minuite-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: 'SF Mono', monospace;
   font-size: 6rem;
}
.seconds-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: 'SF Mono', monospace;
   font-size: 6rem;
}

.buttons-container{
  display: flex;
  flex-direction: row;
  align-items:center;
  gap:2em;
  

}
.cancel-button{
  width:9em;
  height:2.5em;
  border-radius:3em;
  border:0;
  font-family:'SF Mono', monospace;
  background-color : #262626;
}
.start-button{
  width:9em;
  height:2.5em;
  border:0;
  border-radius: 3em;
  font-family:'SF Mono', monospace;
  background-color : #31D158;

}




